__pycache__/

code/*.sh
code/*.bat

###########################
code/**/**/Changelog
code/**/**/NOTICE
code/**/**/VERSION
code/**/**/discipline.h
code/**/**/IP_NOTICE_DISCLAIMER_LICENSE
code/**/**/*.txt
##########################

# Verilog-A
code/**/vacode/openvaf

# osdilibs
osdilibs/

# Виртуальные окружения
venv/

# Временно недоступные
examples/**/Xyce
