# Ignore Python cache files
__pycache__/

# Ignore shell and batch scripts
code/*.sh
code/*.bat

###########################
code/**/**/Changelog
code/**/**/NOTICE
code/**/**/VERSION
code/**/**/discipline.h
code/**/**/IP_NOTICE_DISCLAIMER_LICENSE
code/**/**/*.txt
##########################

# Verilog-A
code/**/vacode/openvaf

# osdilibs
osdilibs/**/

# Ignore virtual environments
venv/

# Temporarily unavailable examples
examples/**/Xyce

# Ignore specific modified files
code/ASMHEMT/vacode/asmhemt.va
code/mextram/vacode/parameters.inc
osdilibs/bjt505.osdi
simulation_data.txt

# Ignore untracked file
osdilibs/asmhemt.osdi
